.form-input {
    background: none;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 70%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid yellow;
    border-radius: 4px;
    height: 10px;
  }
  .search-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px;
    height: 30px;
  }
  .selector{
    border-radius: 4px;
  }

  .search-button{
      line-height: 10px;
      text-align: center;
      padding: 10px;
      background-color: black;
      color: white;
      border-radius: 4px;
      width: 90px;
      transition: all .2s ease-in-out;
  }
  .search-button:hover  {transform: scale(1.03);}

  